In [1]:
mylist=[1,2,3,4,5]

In [2]:
mylist + [6,7,8,9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
mylist.append(10)

In [4]:
mylist

[1, 2, 3, 4, 5, 10]

In [5]:
mylist.sort(reverse=True)

In [6]:
mylist

[10, 5, 4, 3, 2, 1]

In [7]:
my_second_list=mylist

In [8]:
my_second_list

[10, 5, 4, 3, 2, 1]

In [9]:
my_second_list[0]=999

In [10]:
my_second_list

[999, 5, 4, 3, 2, 1]

In [12]:
#Original list also changes!!!!!! When doing mylist=my_second_list, changes in one list will also happen in the other
mylist

[999, 5, 4, 3, 2, 1]

In [29]:
#Append method leaves you with a list with double brackets, so it doesn't work
my_third_list=[]
my_third_list.append(mylist)
my_third_list

[[999, 5, 4, 3, 2, 1]]

In [31]:
#To copy a list, use .copy(). Changes in one will NOT translate to changes in another. 
another_list=mylist.copy()
another_list

[999, 5, 4, 3, 2, 1]

In [45]:
sports=["soccer", "basketball", "running", "softball", "padel"]
audience=[232456, 12346, 8, 2, 78]

In [40]:
#Option 1
for i, j in zip(sports,audience):
    print("The audience for", i, "is", j)

The audience for soccer is 232456
The audience for basketball is 12346
The audience for running is 8
The audience for softball is 2
The audience for padel is 78

In [38]:
#Option 2
for i in range(len(sports)):
    print("The audience for", sports[i], "is", audience[i])

The audience for soccer is 232456
The audience for basketball is 12346
The audience for running is 8
The audience for softball is 2
The audience for padel is 78

In [58]:
sports_and_list=[]
for i in range(len(sports)):
    sports_and_list.append("The audience for {} is {}".format(sports[i], audience[i]))
sports_and_list

['The audience for soccer is 232456',
 'The audience for basketball is 12346',
 'The audience for running is 8',
 'The audience for softball is 2',
 'The audience for padel is 78']

In [59]:
#you have two lists with different lengths and you want to ittirate though them without using zip.
names = ['Guillem', 'Ali', 'Anna', 'Alba', 'Javier', 'Paula', 'Marta', 'Pau', 'Pol', 'Sara', 'Erwen']
projects = [100000, 1,10,4,7,3,5,7,9]
for i in range(len(names)):
    print(f"{names[i]} worked on {projects[i]} projects.")
    if i == len(projects)-1:
        break

Guillem worked on 100000 projects.
Ali worked on 1 projects.
Anna worked on 10 projects.
Alba worked on 4 projects.
Javier worked on 7 projects.
Paula worked on 3 projects.
Marta worked on 5 projects.
Pau worked on 7 projects.
Pol worked on 9 projects.

In [70]:
#List comprehension version 1
sp_and_lst=["The audience for " + str(sports[i]) + "is " + str(audience[i]) for i in range(len(sports)) if audience[i]>50]
sp_and_lst

['The audience for socceris 232456',
 'The audience for basketballis 12346',
 'The audience for padelis 78']

In [71]:
#List comprehension version 2
["The audience for {} is {}".format(sports[i],audience[i]) for i in range (len(sports))]

['The audience for soccer is 232456',
 'The audience for basketball is 12346',
 'The audience for running is 8',
 'The audience for softball is 2',
 'The audience for padel is 78']

In [74]:
#Mirar-ho pel codi!!!
lst=[i for i in range(10) if i>3]
lst

[4, 5, 6, 7, 8, 9]

In [1]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [5]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']