In [1]:
import os

In [2]:
os.listdir(".")

['.DS_Store',
 '~$cumentation.docx',
 'Documentation.docx',
 '.ipynb_checkpoints',
 'csv1.csv',
 'csv2.csv',
 'Pandas.ipynb',
 'csv3.csv',
 'csv6.csv',
 'csv4.csv',
 'csv5.csv']

In [3]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/2.1.2/libexec/lib/python3.8/site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/Cellar/jupyterlab/2.1.2/libexec/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/Cellar/jupyterlab/2.1.2/libexec/lib/python3.8/site-packages (from pandas) (1.19.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/Cellar/jupyterlab/2.1.2/libexec/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/2.1.2/libexec/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
WARNING: You are using pip version 20.1; however, version 20.1.1 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/2.1.2/libexec/bin/python3.8 -m pip install --upgrade pip' command.

In [4]:
import pandas as pd

In [5]:
#Option 1
list_of_datasets=[]
for file in os.listdir("."):
    if file.endswith(".csv"):
        list_of_datasets.append(file)
        
list_of_datasets

['csv1.csv', 'csv2.csv', 'csv3.csv', 'csv6.csv', 'csv4.csv', 'csv5.csv']

In [6]:
#Option 1 (part2)
list_of_dataframes = []

for i in list_of_datasets:
    temp = pd.read_csv(i)
    list_of_dataframes.append(temp)
    
pd.concat(list_of_dataframes)

   a  b  c  d
0  1  2  3  4
1  3  5  6  2
0  1  2  3  4
0  1  2  3  4
0  1  2  3  4
0  1  2  3  4
0  1  2  3  4

In [10]:
#Option 2
import os
import pandas as pd
csv_files = [i for i in os.listdir() if i.endswith(".csv")]
datasets = [pd.read_csv(i) for i in csv_files]
dataframe = pd.concat(datasets)
dataframe

   a  b  c  d
0  1  2  3  4
1  3  5  6  2
0  1  2  3  4
0  1  2  3  4
0  1  2  3  4
0  1  2  3  4
0  1  2  3  4